#vit
/logs/* 
/tmp/* 
/nbproject/*

#tema
/tmp/*
/logs/*
/uploads/*

/htdocs.esproj
templates/compiled
tmp
templates/compiled
tmp/livestreet_cache--7
tmp/livestreet_cache--8
tmp/livestreet_cache--9
templates/compiled/developer
