/** RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

/* remember to define focus styles! */
:focus {
outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: collapse;
border-spacing: 0;
}
/* RESET **/



/** FONTS */
body {
font: 12px/18px Tahoma, Arial, Sans-Serif;
color: #333; 

	background: #fff url(../images/background2.jpg) 50% 0% no-repeat;

	margin:0;
padding: 0;
}

body.pageUsers {
  background: #fff url(../images/background-users.jpg) 50% 0% no-repeat;
}

body.pageBlogs, body.pageQa {
   background: #fff url(../images/background-blogs-qa.jpg) 50% 0% no-repeat;
}

body.pageEvents {
  background: #fff url(../images/background-events-tender.jpg) 50% 0% no-repeat;
}
body.pageCompanies {
  background: #fff url(../images/background-company.jpg) 50% 0% no-repeat;
}
h1, h2, h3, h4, h5, h6 {
font: normal 18px Tahoma, Arial, Sans-Serif;
color: #333;
}
h1 {
font-size: 22px;
line-height: 26px;
margin-bottom: 10px;
}
h2 {
font-size: 22px;
line-height: 26px;
margin-bottom: 7px;
}
h3 {
font-size: 18px;
line-height: 22px;
margin-bottom: 5px;
}
h4 {
font-size: 16px;
line-height: 20px;
margin-bottom: 5px;
}
h5 {
font-size: 16px;
line-height: 20px;
margin-bottom: 5px;
}
h6 {
font-size: 16px;
line-height: 20px;
margin-bottom: 5px;
}

a {
color: #1f55a8;
}
a {
color: #333;
}
a:hover {
color: #b22024;
}

p {
margin-bottom: 18px;
}
/* FONTS **/



/** BLOCKS */
#container, .container {
width: 960px;
margin: 0 auto;
}
#header {
overflow: hidden;
zoom: 1;
margin-bottom: 25px;
}
#wrapper {
overflow: hidden;
zoom: 1;
}
#wrapper-head {
	height:6px;
	width:960px;
	background:url('../images/wrapper-head.png') no-repeat;
}
#wrapper-foot {
	height:6px;
	width:960px;
	background:url('../images/wrapper-foot.png') no-repeat;
}
#content {
float: right;
width: 685px;
border: 1px solid #DFDFDF;
padding: 30px 18px;
background: url('../images/bg-content.png');
}
#sidebar {
	float:left;
	width:235px;
	border:1px solid #dfdfdf;
	background:#f2f0ed;
	padding-bottom:30px;
	-moz-opacity: 0.9; 
  -khtml-opacity: 0.9; 
  opacity: 0.9; 
  overflow:hidden;
}
#footer {
overflow: hidden;
zoom: 1;

background: #fafafa;
}
/* BLOCKS **/



/** FORMS */
.input-wide {
width: 98%;
_width: 97%;
padding: 2px;
}
.input-100 {
width: 100px;
padding: 2px;
}
.input-200 {
width: 200px;
padding: 2px;
}
.input-300 {
width: 300px;
padding: 2px;
}
.note {
font-size: 12px;
color: #aaa;
}
.checkbox {
position: relative;
top: 2px;
margin: 0 4px 0 1px;
}
.question-list {
margin-bottom: 15px;
}
.question-list li {
margin-bottom: 3px;
}
/* FORMS **/



/** GENERAL */
/** Voting */
.voting {
overflow: hidden;
zoom: 1;
}

.voting .total {
float: left;
width:24px;
height:24px;

font-weight: bold;
color: #555;
}
.voting .total a {
text-decoration: none;
color: #999;
outline: none;
}

.voting.positive .total {
color: #f4f4f4;
}
.voting.negative .total {
color: #B22024;
}

.voting .plus,
.voting .minus, .voting .total {
float: left;
display: block;
background: url("../images/likes.png") no-repeat;
width:25px;
height:24px;
position: relative;
top: 0px;
outline: none;
}

.voting .total {
	background-position: 0 0;
	padding-top: 0px;
	text-align: center;
}

.t-value {
  margin-top:3px;
  margin-left:1px; 
  display: block; 
}
.voting .plus {
background-position: -24px 0;
}
.voting .minus {
background-position: -48px 0;
}
.voting .plus:hover {
background-position: -24px -52px;
}
.voting .minus:hover {
background-position: -48px -26px;
}

.voting.voted.plus 	.plus {
background-position: -24px -130px;
}
.voting.voted.minus .minus {
background-position: -48px -78px;
}
.voting.voted.plus 	.minus:hover {
background-position: -48px 0;
}
.voting.voted.minus .plus:hover {
background-position: -24px -156px;
}

.voting.guest .plus:hover {
background-position: -24px -52px;
}
.voting.guest .minus:hover {
background-position: -48px -26px;
}
/* Voting **/

/** Favorite */
.favorite {
background: url(../images/favorite.png) no-repeat;
display: block;
height: 16px;
width: 16px;
position: relative;
top: 1px;
}
.favorite:hover {
background-position: 0 -16px !important;
}
.favorite.active {
background-position: 0 -16px;
}
/* Favorite **/

/** Switcher */
.switcher {
overflow: hidden;
zoom: 1;
margin-bottom: 10px;
}
.switcher li {
float: left;
margin-right: 2px;
}
.switcher li a {
padding: 5px 7px;
line-height: 20px;
text-decoration: none;
color: #424342;
background: #cdcdcd;
}
.switcher li.active a {
border: 0;
color: #eee;
background: #b22024;
}
/* Switcher **/

/** System messages */
.system-message-error {
background: #f0c8c8;
color: #b22626;
padding: 10px 15px;
margin-bottom: 15px;
}
.system-message-notice {
background: #dafad8;
color: #4bb23b;
padding: 10px 15px;
margin-bottom: 15px;
}
/* System messages **/

/** Login popup */
.login-form {
width: 200px;
text-align: center;
margin-left: -100px;
left: 50%;
top: 60px;
background: #fff;
border: 2px solid #555;
padding: 15px;
position: fixed;
z-index: 100;
display: none;
}
.login-form h3 {
margin-bottom: 15px;
}
.login-form p {
margin-bottom: 5px;
}
.login-form label {
color: #aaa;
}
.login-form input {
text-align: center;
}
.login-form .checkbox-label {
color: #333;
}
.login-form .checkbox {
position: relative;
top: 2px;
margin-right: 5px;
}
.login-form .close {
position: absolute;
top: 5px;
right: 5px;
width: 14px;
height: 14px;
outline: none;
background: url(../images/close.png) no-repeat;
}
/* Login popup **/

/** Upload image popup */
.upload-form {
width: 300px;
margin-left: -150px;
left: 50%;
top: 400px;
background: #fff;
border: 2px solid #555;
padding: 15px;
position: absolute;
z-index: 100;
display: none;
}
.upload-form h3 {
margin-bottom: 15px;
}
.upload-form .close {
position: absolute;
top: 5px;
right: 5px;
width: 14px;
height: 14px;
outline: none;
background: url(../images/close.png) no-repeat;
}
/* Upload image popup **/

/** Actions */
.actions {
overflow: hidden;
zoom: 1;
margin-bottom: 10px;
}
.actions li a {
overflow: hidden;
zoom: 1;
margin-bottom: 10px;
color: #333;
text-decoration: none;
}
.actions li {
float: left;
margin-right: 10px;
}
.actions li .edit {
padding-left: 15px;
background: url(../images/edit.png) no-repeat 0 1px;
}
.actions li .delete {
padding-left: 14px;
background: url(../images/delete.png) no-repeat 0 2px;
}
.actions li .rss {
padding-left: 15px;
background: url(../images/rss.png) no-repeat 0 1px;
}
.actions li a:hover {
text-decoration: underline;
}
/* Actions **/

/** Misc */
.user {
	padding-left:20px;
	color:#747474;
	text-decoration:none;
	background:url('../images/lamp.png') no-repeat;
}
.user.inactive {
color: #888;
}

.center {
width: 300px;
margin: 0 auto;
}

.panel-form {
padding: 2px;
background: #eee;
width: 98%;
}
.panel-form img {
vertical-align: top;
}

.table {
width: 100%;
margin-bottom: 10px;
}
.table thead td {
background: #fafafa;
}
.table td {
border: 1px solid #ddd;
padding: 5px;
}

.right {
float: right;
}

.clear {
	clear:both;
	font-size:0;
	height:0;
}
/* Misc **/
/* GENERAL**/



/** HEADER */
#header h1 {

  padding:0px 0 0 80px; /* padding: 32px 0 0 13px */

	clear: both;
}
#header h1 a {
	font-size:50px;
	text-decoration:none;
	text-indent:-9999px;
	display:block;
	width:390px;

	height:62px;
	color:#333;
	background:url('../images/logo.png') no-repeat;
}
/* Registration*/
  
#registrtionIn {
  /*width:200px;*/
  float:left; 
  padding-left:80px;
  padding-top:20px;  
}
#registrtionIn a.img {
  width:75px;
  height:34px;

  text-decoration: none;
  text-indent: -9999px;
  color: #333;
  display: block;
  background:url('../images/button_turn-off.png') no-repeat;
}

#registrtionIn a.img.current { 
  background-position:0px -34px; 
}

#registrtionIn a {
  text-decoration: none;
  color:#b22024;
}

#registrtionIn  span {
   color:#b22024;
}
/***************/

#topnav {
overflow: hidden;
zoom: 1;
list-style: none;
/*height: 49px;*/
float: right;
padding-right: 20px;
}
	#topnav-foot {
		width: 100%;
		height: 4px;
		background: url('../images/topnav-foot.png') no-repeat;
	}
#header .pages {
	height:54px;
	display:inline-block;
}
#header .pages:hover li.active {
	background:none;
}
#header .pages li {
display: inline-block;
padding-top: 34px;
padding-bottom:2px;
/*width:140px;*/
text-align:center;
}
#header .pages li:hover,#header .pages li.active:hover {
	background: url('../images/lighting.png') 60% 0 no-repeat;
}
#header .pages li a {
color: black;
margin: 0 10px;
font-size: 14px;
text-decoration: none;
}
#header .pages li.active {
margin-top: -20px;
background: url('../images/lighting.png') 60% 0 no-repeat;
}
#header .pages li.active a {
color:#b22024;
}
#header .pages li.active a:hover,#header .pages li a:hover {
color:#b22024;
}
/* HEADER **/

/** FOOTER */

#footer-img { 
   height:327px; 
  width:100%;
  background: url('../images/tower_pattern.png') 25% 0 repeat-x;
  margin:0 auto;
}

#footer {
  height:202px;
  background:url('../images/footer_pattern.png') repeat-x;
}

#footer-nav {
  overflow:hidden;
  float:left;
  padding-left:20px;  
}

#footer  .pages {
  height:54px;
  display:inline-block;
}

#footer  .pages li {
  display: inline-block;
  padding-top: 15px;
  padding-bottom:2px;
  /*width:140px;*/
  text-align:center;
}

#footer  .pages li a {
color: #aaa;
margin: 0 10px;
font-size: 14px;
text-decoration: none;
}

#footer  .pages li.active a {
  color:#fff;
text-decoration: underline;
}
#footer .pages li.active a:hover,#footer .pages li a:hover {
  color:#fff;
  text-shadow: black 1px 1px 1px;
  -moz-transition-duration: 100ms;
-webkit-transition-property:color;
-webkit-transition-duration:100ms;
-o-transition-duration: 100ms;
transition-duration: 100ms;
text-decoration: underline;
}

#footer .container {
  padding-top:40px;
}
#footer .pages li.active a:hover {
  color:#fff;
}

#logo_studio {
  float:right; 
}
#logo_studio a  { 
  width:239px;
  height:80px;
  display:block;
  text-indent: -9999px;
  color:#fff;
   background:url('../images/logo_avatech.png') no-repeat;
}
/* FOOTER **/  

/** TOPIC */
.topic {
overflow: hidden;
zoom: 1;
margin-bottom: 50px;
}

.topic { 
  position:relative;
}
/** Title */
.topic.main  {
  width:280px;
  float:left; 
  padding:0px 13px; 
  position:relative;
}  
.topic.blog-ugol {
  padding-left: 18px;
}
.blog-name-ugol.blog-ugol {
background:url("../images/title_side.png") right no-repeat; 
    height:27px;
  position:absolute;
  top:0px;
  left:0px;
  padding-right: 21px;
}
.post-img {
  position:relative;
}

.title.blog-ugol {
  padding-left:220px;
  padding-right:20px;  
}

.blog-name {
  overflow:hidden;
  /*padding:2px 5px;*/
  padding: 4px 10px 0px 20px;
  height:27px;
  background:url("../images/title_pattern.png") repeat-x; 
}

  
.blog-name-ugol {
   background:url("../images/title_side.png") right no-repeat; 
    height:27px;
 position:absolute;
     bottom:30px;
  left:0px;
  padding-right: 21px;
  
}  
.blog-name a {
  text-decoration:none;
  color: #f4f4f4;
  font-size:18px;
} 
.topic .title {
	margin-bottom: 5px;
}
.topic .title a {
color: #3c3c3a;
}
.topic .title a.title-blog {
color: #3c3c3a;
text-decoration: none;
}
.topic .title span.lightning {
padding:0 20px;
background: url('../images/lightning.png') 50% 60% no-repeat;
}
.topic .title a.title-topic {
color: #b22024;
text-decoration: none;
font-size: 18px;
}
.topic .title a:hover {
/*color: red; */
}
/* Title **/

/** Content */
.topic .content {
overflow: hidden;
zoom: 1;
margin-bottom: 14px;
font-size: 10.2pt;
line-height: 18px;
color: #464b50;
}
.topic .content p {
margin-bottom: 18px;
}
.topic .content blockquote {
background: #fafafa;
padding: 10px 15px;
color: #555;
margin-bottom: 5px;
}
.topic .content pre {
background: #fafafa;
border: 1px solid #dce6f0;
margin-bottom: 10px;
overflow: auto;
padding: 5px 10px;
}
.topic .content ul {
list-style-type: disc;
margin-left: 17px;
}
.topic .content ol {
list-style-type: decimal;
margin-left: 22px;
}
.topic .content a.readmore {
	font-family:Arial,sans-serif;
	font-size:12px;
	font-style:italic;
display: inline-block;
padding-top: 6px;
color: #b22024;
text-decoration: none;
}
.topic .content a.readmore:hover {
	color: red;
}
/* Content **/

/** Tags */
.topic .tags {
margin: 0 0 6px;
padding-left: 23px;
background: url(../images/tag.png) no-repeat 0 2px;
}
.topic .tags li {
display: inline;
color: #464b50;
font-size: 10.2pt;
}

.new-topic {
  padding-right:18px;
  margin-top: 30px;
  position:relative; 
  padding-bottom:15px;
}

.line-rezar {
  width:921px;
  height:26px;
  background: url(../images/tab.png) no-repeat;
}

.new-topic-text {
  position:absolute;
  color:#f4f4f4;
  font-size:16px;
  top:2px; 
  left:100px;
}

.topic .tags li a {
color: #464b50;
font-size: 10.2pt;
text-decoration: underline;
font-size: 12px;
}
.topic .tags li a:hover {
color: red;
}
/* Tags **/

/** Info */
.topic  .user-info  {
  overflow: hidden;
} 
.topic  .user-info .username.lamp  { 
  padding-left:16px;
  background:url("../images/bulb_2.png") no-repeat left; 
 }
 
.topic  .user-info .username.lamp.active  { 

  background:url("../images/bulb.png") no-repeat left; 
 }

.topic  .user-info  li a  {
text-decoration: none;
color: #464b50;
}
.topic .info {
overflow: hidden;
zoom: 1;
/*background: #fbfbfb; */
padding: 5px 15px;
}
.user-info.profile {
  height:24px;
  padding: 10px 0px 0px 0px;

}
.topic .info li, .topic  .user-info li {
float: left;
margin-right: 15px;
}
.topic .info li a {
text-decoration: none;
}

.topic .info li.date {
color: #777;
}
.topic .info li.username a {
font-weight: bold;
color: #333;
}
.topic .info li.username a:hover {
text-decoration: underline;
}
.topic .info li.voting {
padding-right: 15px;
border-right: 1px solid #ddd;
width:76px;
height:26px;
/* background:url("../images/likes.png")  0px -48px  no-repeat;  */
}

.topic .info li.comments-link {
  width:116px;
  
}
.topic .info li.comments-link a {
 width:100%;
 display:block;
 height:25px;
 color:#f4f4f4;
 cursor:pointer;
padding-top:2px;
  background: url(../images/comments.png) no-repeat;
  font-weight: bold;

}
.topic .info li.comments-link a span {
  color:#f4f4f4;
  width:24px;
 display:block; 
 overflow:hidden;
 text-align:center; 
}

.topic .info li.comments-link a:hover span {
text-decoration: underline;

}
/* Info **/

/** Poll */
.topic .poll {
margin-bottom: 15px;
}

.topic .poll .poll-vote {
margin-bottom: 10px;
margin-left: 0;
list-style-type: none;
padding: 15px 15px 10px;
background: #f5f5f5;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}
.topic .poll .poll-vote li {
margin-bottom: 5px;
}
.topic .poll .poll-vote li label {
display: inline;
}

.topic .poll .poll-result {
margin-bottom: 10px;
margin-left: 0;
list-style-type: none;
padding: 15px 15px 0;
background: #f5f5f5;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}
.topic .poll .poll-result li {
margin-bottom: 20px;
}
.topic .poll .poll-result li dl {
overflow: hidden;
zoom: 1;
}
.topic .poll .poll-result li dl dt {
float: left;
width: 50px;
text-align: right;
padding-right: 15px;
}
.topic .poll .poll-result li dl dt span {
color: #aaa;
}
.topic .poll .poll-result li dl dd {
float: left;
width: 400px;
}
.topic .poll .poll-result li dl dd div {
height: 5px;
margin-top: 5px;
background: #ccc;
overflow: hidden;
}
.topic .poll .poll-result li.most dl dd div {
background: #555;
}

.topic .poll .poll-total {
color: #aaa;
}
/* Poll **/
/* TOPIC **/



/** BLOCKS */
/** All Blocks */
.block {
margin: 27px 0 0 10px;
padding-right: 10px;
}

.block h3 {
	margin:10px 0;
	font-size:14px;
	font-weight:400;
	line-height:26px;
	color:#272727;
}

.block.stream {
	margin-top:30px;
}

.block.blogs h3 {
	margin-bottom:0;
}

.block .bottom {
padding-top: 5px;
font-size: 11px;
}
.block .bottom a {
/*color: #333;*/
}
/* All Blocks **/

/** Stream */
.block.stream ul.list {
/*border-top: 1px dashed #ddd;*/
}
.block.stream ul.list li {
	margin-bottom:15px;
	color:#747474;
}
/* Stream **/

/** Top Blogs */
.block.blogs ul.list {
/*border-top: 1px dashed #ddd;*/
}
.block.blogs ul.list li {
/*padding: 5px 0 8px;
border-bottom: 1px dashed #ddd;*/
}
.block.blogs ul.list li .rating {
float: right;
/*font-weight: bold;*/
}
/* Top Blogs **/

/** Tags */
.block .cloud li {
display: inline;
margin-right: 5px;
}
.block .cloud li a {
text-decoration: none;
white-space: nowrap;
line-height:22px;
color:#424342;
}

.block .cloud li a:hover {
	color:#B22024;
}

.block .cloud li a.w1 {
font-size: 12px;
}
.block .cloud li a.w2 {
font-size: 12px;
}
.block .cloud li a.w3 {
font-size: 14px;
}
.block .cloud li a.w4 {
font-size: 14px;
}
.block .cloud li a.w5 {
font-size: 18px;
}
.block .cloud li a.w6 {
font-size: 18px;
}
.block .cloud li a.w7 {
font-size: 20px;
}
.block .cloud li a.w8 {
font-size: 20px;
}
.block .cloud li a.w9 {
font-size: 22px;
}
.block .cloud li a.w10 {
font-size: 22px;
}
/* Tags **/

/** Profile block */
.block ul.profile li {
	display:block;
}

	.block ul.profile li a {
		font-size:14px;
		line-height:26px;
		color:#b22024;
		text-decoration:underline;
	}
/* Profile block **/

/** Searchform block */
.block.searchform {
	margin-top:5px;
}


.block.searchform.header {
 margin-left:0px;
 float:right;  
 padding-right:0px;
} 


	.block.searchform #search-form #search-area {
		background: #F5F4F2 url('../images/magnifier.png') 193px 4px no-repeat;
		border: 1px solid white;
		width: 210px;
		height: 23px;
		font-size: 12px;
		text-indent: 3px;
		color: #b22024;
	}
/* Searchform block **/

/** Friender block */
div.block img.photo {
	width: 216px;
}
div.block.friender ul li a {
	font-size: 14px;
	line-height: 26px;
	color: #854949;
	text-decoration: underline;
}
/* Friender block **/
/* BLOCKS **/



/** STELS BLOCKS */
/** All Blocks */
a.all-live, a.all-blogs, a.all-news, a.all-questions,
a.all-comments {
	font-family:Arial,sans-serif;
	font-style:italic;
	text-decoration:none;
	color:#8e2c2c;
	font-size:12px;
}

a.all-live:hover, a.all-blogs:hover, a.all-news:hover,
a.all-questions:hover,a.all-comments:hover {
	color:#B22024;
}
/* All Blocks **/

/** Block Live */
#live .air-comment {
	margin-bottom:15px;
	color:#747474;
	background:url('../images/lamp.png') no-repeat;
}

	#live .air-comment a.who {
		padding-left:20px;
		color:#747474;
		text-decoration:none;
	}

	#live .air-comment a.who:hover {
		color:#B22024;
	}

	#live a.topic {
		color:#424342;
	}

	#live a.topic:hover {
		color:#B22024;
	}
/* Block Live **/

/** Block Blogs */
.blogs ul {
	padding:0;
	margin-top:0;
	margin-bottom:5px;
}

		.blogs ul li {
			list-style:none;
		}

			.blogs ul li a {
				line-height:26px;
				text-decoration:none;
				color:#5e5e5e;
			}

			.blogs ul li a:hover {
				color:#B22024;
			}

#blogs td a {
  color:#464b50;
  font-family:Tahoma;
  font-size:14px;  
}

/* Block Blogs **/

/** Block News */
div.block.news ul {
	margin-bottom: 10px;
}

	div.block.news ul li {
		color: #5E5E5E;
	}

		div.block.news ul li a {
			color: #5E5E5E;
		}
/* Block News **/

/** Block Q&A */

div.block.qa ul li {
	margin-bottom:15px;
	color:#747474;
	background:url('../images/lamp.png') no-repeat;
}

	div.block.qa ul li a {
		color: #5E5E5E;
	}
	div.block.qa ul li a.who {
		padding-left:20px;
		color:#747474;
		text-decoration:none;
	}

	div.block.qa ul li a.topic {
		color:#424342;
	}

	div.block.qa ul li a.topic:hover {
		color:#B22024;
	}
/* Block Q&A **/

/** Block TOP 15 */

div.block.top ul li {
	margin-bottom:15px;
	color:#747474;
	background:url('../images/lamp.png') no-repeat;
}

	div.block.top ul li a {
		color: #5E5E5E;
	}

	div.block.top ul li a.who {
		padding-left:20px;
		color:#747474;
		text-decoration:none;
	}

	div.block.top ul li a.topic {
		color:#424342;
	}

	div.block.top ul li a.topic:hover {
		color:#B22024;
	}
/* Block TOP 15 **/
/* STELS BLOCKS **/



/** UPDATE */
.update {
padding: 7px 7px 5px 7px;
float: right;
position: fixed;
top: 220px;
right: 0;
text-align: center;
background: #fafafa;
border-top: 1px solid #eee;
border-bottom: 1px solid #ddd;
border-left: 1px solid #ddd;
_position: absolute;
_top: expression( eval(document.documentElement.scrollTop) + 220 +"px" );
}
.update .update-comments {
cursor: pointer;
vertical-align: top;
}
.update .new-comments {
border-top: 1px solid #ececed;
color: #333;
padding-top: 7px;
margin-top: 3px;
cursor: pointer;
}
/* UPDATE **/



/** COMMENTS */
/** All comments */
.comments .comment {
overflow: hidden;
zoom: 1;
position: relative;
}
.comments .comment .comment {
padding-left: 30px;
}
.comments .header {
margin-bottom: 20px;
}
/* All comments **/

/** Comment */
.comment .comment-inner {
margin-bottom: 15px;
}
.comment .deleted {
padding: 5px 10px;
color: #777;
background: #f4f4f4;
}
.comment .bad {
color: #aaa;
}
/* Comment **/

/** Comment Bottom */
.comment .folding {
font-size: 11px;
padding-right: 10px;
background: url(../images/comment-fold.png) no-repeat 100% 6px;
}
.comment .folding.fold {
background: url(../images/comment-fold.png) no-repeat 100% 6px;
}
.comment .folding.unfold {
background: url(../images/comment-unfold.png) no-repeat 100% 6px;
}
.comment .reply-link {
margin-right: 5px;
font-size: 11px;
text-transform: lowercase;
}
/* Comment Bottom **/

/** Info Block */
.comment .info {
overflow: hidden;
zoom: 1;
font-size: 11px;
}
.comment .info li {
float: left;
padding-top: 3px;
margin-right: 10px;
}
.comment .info li.avatar {
padding-top: 0;
}
.comment .info li.avatar img {
vertical-align: top;
}
.comment .info li.voting {
float: right;
}
.comment .info li.username a {
font-weight: bold;
color: #555;
}
.comment .info li.date {
color: #888;
}
.comment .info li a {
text-decoration: none;
}
/* Info Block **/

/** Comment Types */
.comment .info {
background: #fafafa;
}
.comment .info.self {
background: #faf8f4 !important;
}
.comment .info.new {
background: #fbfba8 !important;
}
.comment .info.del {
background: #c5c5c5 !important;
}
.comment .info.view {
background: #cdf5a6 !important;
}
/* Comment Types **/

/** Comment List */
.comments.comment-list .path {
padding-bottom: 3px;
}
.comments.comment-list .path .blog-name {
color: #777;
}
/* Comment List **/

/** Reply Form */
.reply {
padding-bottom: 10px;
}
.reply textarea {
height: 70px;
}
.reply textarea.loader {
background: #f7f7f7 url(../images/loader.gif) no-repeat center;
}
/* Reply Form **/

/** Misc */
.hidden {
display: none;
}
.tree-visible {
display: block;
}
.tree-hidden {
display: none;
}
/* Misc **/
/* COMMENTS **/



/** PROFILE */
/** Blog profile */
.blog {
padding: 15px;
background: #fafafa;
margin-bottom: 20px;
}
.blog .voting {
float: right;
}
/* Blog profile **/

/** User profile */
#user-profile {
	position: relative;
}

	#user-profile p.strength {
		position: absolute;
		left: 610px;
	}
	
	#user-profile .voting {
		position: absolute;
		left: 520px;
	}
	
	#user-profile > a {
		text-decoration:none;
	}
	
	#user-profile img.avatar {
		float:left;
		margin-right:20px;
	}
		
	#user-profile h2 {
		float:left;
		display:block;
		width:400px;
		color:#428b44;
		font-size:18px;
		line-height:26px;
		margin:0;
	}
	
	#user-profile p.regtime {
		display: block;
		width: 400px;
		float: left;
		margin-bottom: 10px;
	}
	
	#user-profile div.last {
		float: left;
		width: 470px;
		padding-bottom: 16px;
		height: 38px;
	}
	
		#user-profile div.last p.last-label {
			display: block;
			width: 110px;
			margin: 0;
			float: left;
		}
		
		#user-profile div.last div.last-entries {
			float: left;
			width: 355px;
		}
		
			#user-profile div.last div.last-entries div.last-entry {
				color:#3c3b3a;
			}
			
				#user-profile div.last div.last-entries div.last-entry a {
					text-decoration:none;
					color: #3c3b3a;
				}
				
				#user-profile div.last div.last-entries div.last-entry a:hover {
					color:#B22024;
				}
				
				#user-profile div.last div.last-entries div.last-entry a.topic {
					font-size:14px;
				}
				
	#user-profile .profile-menu {
		float: left;
		font-size: 0;
		overflow: visible;
	}
	
		#user-profile ul.profile-menu li {
			display: inline-block;
			font-size: 12px;
			margin: 0 -7px;
			padding: 0;
			width:180px;
			height:22px;
			overflow:visible;
		}
		
			#user-profile ul.profile-menu li a {
				width:180px;
				background: url('../images/profile-menu-item.png') no-repeat;
				display: block;
				height: 22px;
				text-align: center;
				text-decoration:none;
				color:#fff;
			}
			#user-profile ul.profile-menu li  {
			  cursor:pointer;
			}
			#user-profile ul.profile-menu li a:hover {
				background: url('../images/profile-menu-item-active.png') no-repeat;
			}
			
			#user-profile ul.profile-menu li.active a {
				display:block;
				background: url('../images/profile-menu-item-active.png') no-repeat;
			}

#user-information {
	margin-top: 20px;
}	

	#user-information .friends {
		margin-top:50px;
	}
	
	#user-information .subscription div, #user-information .friends div  {
		float: left;
		width: 150px;
		font-family: Arial,sans-serif;
		font-weight: bold;
		text-align: right;
		padding-right: 10px;
	}
	
	#user-information .subscription .subscr, #user-information .friends .frien {
		float: right;
		width: 510px;
		text-align: left;
	}
	
		#user-information .subscription .subscr a, #user-information .friends .frien a {
			display: inline-block;
			padding-left: 16px;
			padding-right: 5px;
			color:black;
			line-height:18px;
			text-decoration: none;
			font-weight:400;
			background: url('../images/blog.png') -1px 4px no-repeat;
		}
		
		#user-information .friends .frien a {
			background: url('../images/lamp.png') 1px 0 no-repeat;
		}
/* User profile **/
/* PROFILE **/



/** PEOPLE */
.ppl #content {
	padding-top:18px;
}

#people {
	margin-top:-30px;
}

	#people div.user-entry {
		padding-left:36px;
		margin-top:30px;
		overflow: hidden;
	}
	
		#people div.user-entry > a {
			text-decoration:none;
		}
		
		#people div.user-entry img.avatar {
			float:left;
			margin-right:20px;
		}
		
		#people div.user-entry h2 {
			float:left;
			display:block;
			width:400px;
			color:#428b44;
			font-size:18px;
			line-height:26px;
			margin:0;
		}

		#people div.user-entry p.regtime {
			display: block;
			width: 400px;
			float: left;
			margin-bottom: 10px;
		}
		
		#people div.user-entry div.last {
			float: left;
			width: 470px;
			border-bottom: 2px dotted #C0D7BE;
			padding-bottom: 16px;
			height: 38px;
		}
		
			#people div.user-entry div.last p.last-label {
				display: block;
				width: 110px;
				margin: 0;
				float: left;
			}
			
			#people div.user-entry div.last div.last-entries {
				float: left;
				width: 355px;
			}
			
				#people div.user-entry div.last div.last-entries div.last-entry {
					color:#3c3b3a;
				}
				
					#people div.user-entry div.last div.last-entries div.last-entry a {
						text-decoration:none;
						color: #3c3b3a;
					}
					
					#people div.user-entry div.last div.last-entries div.last-entry a:hover {
						color:#B22024;
					}
					
					#people div.user-entry div.last div.last-entries div.last-entry a.topic {
						font-size:14px;
					}
/* PEOPLE **/
					


/** PAGINATION */
div.pagination {
	width:100%;
	margin-top:20px;
}

	div.pagination ul {
		margin:0 auto;
		text-align: center;
		font-size:0;
	}
	
		div.pagination ul li {
			display:inline-block;
			margin:0;
			padding:0;
		}
		
		div.pagination ul li a {
			display:block;
			text-decoration:none;
			color:#e8e7e4;
			font-size:12px;
			line-height:22px;
			font-family: 'Arial Narrow', sans-serif;
		}
		
		div.pagination ul li.first-page a {
			width:37px;
			height:22px;
			background: url('../images/first-page.png') no-repeat;
		}
		
		div.pagination ul li.i-page a {
			width:30px;
			height:22px;
			background: url('../images/page.png') no-repeat;
		}
		
		div.pagination ul li.first a {
			width:22px;
			height:22px;
			background: url('../images/first.png') no-repeat;
			text-align:left;
			text-indent:5px;
		}
		
		div.pagination ul li.last a {
			width:21px;
			height:22px;
			background: url('../images/last.png') -1px 0 no-repeat;
			text-align:left;
			text-indent:13px;
		}
		
		div.pagination ul li.last-page a {
			width:40px;
			height:22px;
			background: url('../images/forward.png') no-repeat;
		}
/* PAGINATION **/



/** BLOGS */
  
#table-head {
	width:669px;
	margin-left:10px;
	height:26px;
	 background: url('../images/blog_header.png') no-repeat;
}  
#blogs {
	width:669px;
	margin-left:10px;
}

	#blogs thead {
		border-bottom: 2px dotted #C0D7BE
}

		#blogs thead tr {
			
		}
	
			#blogs thead tr td {
				font-size:14px;
				color: #428b44;
				height: 22px;
			}
	
	#blogs tbody tr {
		margin-bottom:15px;
	}
		
		#blogs tbody tr td {
			padding:3px;
			height: 70px;
			vertical-align: top;
			color: #3c3c3a;
			text-decoration:none;
			font-size: 16px;
			line-height:26px;
		}
		
		#blogs tbody tr td.td1 {
			width:200px;
			color:#727272;
			font-size:12px;
		}
		
			#blogs tbody tr td.td1 a {
				display:block;
				color: #3c3c3a;
				text-decoration:none;
				font-size: 18px;
				line-height:26px;
			}
		
		#blogs tbody tr td.td2 {
			width:130px;
		}
		
		#blogs tbody tr td.td3 {
			width: 240px;
		}
		
		#blogs tbody tr td.td4 {
		 width:70px;
		}
/* BLOGS **/



/** STAT */
.stat-performance {
padding: 20px;
background: #f0f7fd;
border-top: 1px solid #d1e7f9;
color: #333;
}
.stat-performance table {
margin-top: 15px;
}
.stat-performance table td {
width: 200px;
vertical-align: top;
}
.stat-performance h4 {
font-weight: bold;
color: #81B2DB;
}
/* STAT **/

/** EVENT MAIN*/
.event {
  width:590px;
  height:400px;
  float:left;   
  position:relative; 
  padding-right:10px; 
}

.title-event {
  height:20px;
  background:url("../images/title_pattern.png") repeat-x; 
  margin-bottom: 0px;
  padding:2px 0px 2px 15px; 
}  
.title-event a { 
  text-decoration:none;
  color:#f4f4f4;
  font-family:Tahoma;
  font-size:18px; 
 }
 
.content.content-plus {
  margin-top:10px;
}

.comments {
  padding-left:18px; 
}
/* EVENT  MAIN**/
/** MAIN */
.title-topic {
  width:550px;

 
}
.date-topic {
  width:125px;
  float:left; 
  margin-right:20px;
  height:70px; 
  background:url("../images/data.png") no-repeat; 
  text-align: center;
   
}
.date-topic p {
  margin-bottom:0px; 
}
.date-day-topic {
  color:#f4f4f4;
  font-family:Impact;
   font-size:24px; 

  padding-top:15px;  
}
.day-topic {
  color:#f4f4f4;
  font-family:arial;
  font-size:12px;
  padding-top:5px;  
}
/* MAIN **/

/** Plugin Banner */
.plugin-banner  {
  width: 669px;
margin-left: 10px;
}

.plugin-banner tr td { 
 width: 200px;
 }
 .plugin-banner  tr td { 
  line-height: 26px;
  height: 35px;
vertical-align: top;
font-size: 14px;
color: #3C3C3A;
  }
  
/** Error */
#error-page-link{
    display:block;
}

#error-page{
    margin: 0 auto;
    background: url("../images/404.jpg") no-repeat;
    display:block;
    width: 1920px;
    height:1080px;
}

div.text {
  width:50px;
  float:left; 
}

div.count {
  width:200px;
  }
/* Plugin Banner **/

/** Plugin Caompany */
 tr td.rating {
   text-align:center; 
 }
/* Plugin Company **/

.mycomment.blog-name {
  background:none; 
}
